@font-face {
    font-family: 'Inter';
    src: url(font/Inter-V.ttf);
}

body {
    display: flex;
    margin: 0px;
    height: 100vh;
    justify-content: center;
}

#main_container {
    font-family: Inter;
    display: flex;
    flex-direction: row;
    padding: 1% 1% 1% 1%;
    border-radius: 25px;
    width: 96vw;
    justify-self: center;
    background-color: #9D9D9D;
    height: 93vh;
    align-self: center;
}

#contacts, #view_container {
    display: flex;
    flex-direction: column;
    
}

#view_container {
    width: 20%;
    margin-right: 15px;
    justify-content: space-between;
}

#contacts {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    gap: 20px;
    scrollbar-width: thin;
    padding-right: 15px;
}


.contact {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 93%;
    height: 64px;
    padding: 4% 4% 4% 4%;
    cursor: pointer;
}

.view_contact {
    display: flex;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: start;
}

.view_message {
    display: flex;
    height: 50%;
    text-align: start;
    align-items: center;
}

#profile {
    position: static;
    height: 48px;
    width: 93%;
    margin-top: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 32px;
    width: 32px;
}

.user_view {
    
    display: flex;
    flex-direction: row;
}

.user_info {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

#chat_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: #666666;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.oponent_header {
    margin-top: 10px;
    margin-left: 10px;
    width: max-content;
    background-color: #9D9D9D;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    gap: 10px;
    margin-bottom: 10px;
}



#chat {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    max-height: 100%;
    overflow: hidden;
}

#chat_for_oponent {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    gap: 10px;
    scrollbar-width: thin;
    
}

.message {
    align-self: flex-start;
    background-color: #9D9D9D;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: max-content;
    max-width: 50%;
}

.user {
    border-bottom-right-radius: 0px;
    align-self: flex-end;
}

.oponent {
    border-bottom-left-radius: 0px;
}
#send {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    min-height: 32px;
    width: auto;
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#send_message {
    font-size: 12pt;
    width: 100%;
    max-width: 100%;
    word-break: normal;
}

#send_message, #send_message:focus {
    border-color: #FFFFFF;
    border-width: 0px;
    outline: #FFFFFF;
}