@font-face {
    font-family: 'Inter';
    src: url(font/Inter-V.ttf);
}

body {
    display: flex;
    margin: 0px;
    height: 100vh;
    justify-content: center;
}

#main_container {
    font-family: Inter;
    display: flex;
    flex-direction: row;
    padding: 1% 1% 1% 1%;
    border-radius: 25px;
    width: 96vw;
    justify-self: center;
    background-color: #9D9D9D;
    height: 93vh;
    align-self: center;
}

#contacts, #view_container {
    display: flex;
    flex-flow: column nowrap;
    
}

#view_container {
    width: 20%;
    margin-right: 15px;
    justify-content: space-between;
}

#contacts {
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    gap: 20px;
    scrollbar-width: thin;
    padding-right: 15px;
}


.contact {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 93%;
    height: 64px;
    padding: 4% 4% 4% 4%;
    cursor: pointer;
}

.view_contact {
    display: flex;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: start;
}

.view_message {
    display: flex;
    height: 50%;
    text-align: start;
    align-items: center;
}

#profile {
    position: static;
    height: 48px;
    width: 93%;
    margin-top: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    justify-content: space-between;
}

.logo, .used_logo {
    align-self: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.used_logo {
    cursor: pointer;
}

.user_view {
    
    display: flex;
    flex-direction: row;
}

.user_info {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

#chat_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: #666666;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.oponent_header {
    margin-top: 10px;
    margin-left: 10px;
    width: max-content;
    background-color: #9D9D9D;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    gap: 10px;
    margin-bottom: 10px;
}



#chat {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    max-height: 100%;
    overflow: hidden;
}

#chat_for_oponent {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    gap: 10px;
    scrollbar-width: thin;
    
}

.message {
    align-self: flex-start;
    background-color: #9D9D9D;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: max-content;
    max-width: 50%;
}

.user {
    border-bottom-right-radius: 0px;
    align-self: flex-end;
}

.oponent {
    border-bottom-left-radius: 0px;
}
#send {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 15px;
    min-height: 32px;
    width: auto;
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    max-height: 250px;
}

#send_message {
    font-size: 12pt;
    width: 100%;
    max-width: 100%;
    word-break: normal;
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
    max-height: 140px;
    overflow-y: auto;
    border-radius: 15px;
    scrollbar-width: thin;
}

#send_message, #send_message:focus {
    border-color: #FFFFFF;
    border-width: 0px;
    outline: #FFFFFF;
}

#add_new_chat {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    background-color:#666666;
    padding: 10px 15px 10px 20px;
    border-radius: 15px;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s ease;
    cursor: pointer;
}

#add_new_chat:hover {
    background-color: #ffffff;
    color: #666666;
    padding: 12px 17px 12px 22px;
}

#message_send {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 5px;
}

#wait_event {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#overlay {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#add_chat {
    min-width: 360px;
    background-color: #D9D9D9;
    border-radius: 25px;
    height: auto;
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

#input_id {
    width: auto;
    padding: 4% 5% 4% 5%;
    border-radius: 20px;
    margin: 0px 1% 0px 1%;
    font-size: 12pt;
    outline: 0px;
    border-width: 0px;
}   


#add_btn, #send_invitation {
    font-family: Inter;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;    
    align-self: flex-end;
    padding: 3% 4% 3% 4%;
    margin: 3% 3% 3% 3%;
    border-width: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

#add_btn:hover, #send_invitation:hover {
    background-color: #9D9D9D;
    padding: 3% 5% 3% 5%;
}

#close_btn {
    align-self: flex-end;
    margin: 3% 3% 3% 3%;
}

p#add_chat {
    width: fit-content;
    font-family: Inter;
    font-size: 20pt;
    margin-bottom: 2%;
}

#contaiter_input_add_chat {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    justify-content: center;
}

#btn_add_chat {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#add_users {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
}

.added_user {
    font-family: Inter;
    font-size: 12pt;
    border-radius: 15px;
    border: 1px solid #9D9D9D;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: fit-content;
    height: fit-content;
    padding: 10px 7% 10px 7%;
    background-color:#C9C9C9;

}

#add_text {
    margin-left: 20px;
}