@font-face {
    font-family: 'Inter';
    src: url(font/Inter-V.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7E7E7E;
}

#header_name {
    color: #FFFFFF;
    font-size: 160pt;
    font-family: Inter;
}

#content_main {
    width: 50%;
    background-color: #D9D9D9;
    border-radius: 25px;
}

#header {
    font-size: 48pt;
    font-family: Inter;
    margin-top: 41px;
    margin-bottom: 11px;
    text-align: center;
}

#error {
    text-align: center;
    color: red;
    font-family: Inter;
}

.main, #content_main {
    display: flex;
    flex-direction: column;
}


.entry {
    font-family: Inter;
    font-size: 16pt;
    background-color: #FFFFFF;
    border-radius: 35px;
    height: 51px;   
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.entry + .entry {
    margin-top: 30px;
}

.entry::placeholder {
    font-size: 14pt;
    color: #707070;
    align-items: start;
    
}

.entry:focus {
    outline: #FFFFFF;
    font-size: 16pt;
    padding-left: 15px;
    padding-right: 10px;
}

#reset_password {
    font-family: Inter;
    padding-top: 10px;
    cursor: pointer;
    text-align: end;
    margin-right: 20px;
}

.btn {
    cursor: pointer;
    font-family: Inter;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    align-self: center;
    color: #5E5E5E;
    font-size: 20pt;
    background-color: #D9D9D9;
    border-color: #FFFFFF;
    text-decoration: underline;
    font-size: 16pt;
}

.active {
    font-size: 20pt;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    transition:all 0.3s ease;
}

.active:hover {
    background-color: #c5c5c5;
    padding-left: 50px;
    padding-right: 50px;
}

input {
    border-color: #FFFFFF;
    border-width: 0px;
}

body {
    overflow: hidden;
    perspective: 1000px;
}

div.W1tish {
    position: absolute;
    width: 3500px;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:  rotateZ(45deg);
    user-select: none; 
}

div.W1tish p {
    animation-play-state: running;
    color: #777777;
    font-family: Inter;
    font-size: 8vw;
    animation: xxx 2s linear infinite both;
}

@keyframes xxx {
    0% {
        transform: translateY(0em);
    }
    100% {
        transform: translateY(-1.225em);
    }
}


