.main {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-content: center;
}

#error {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}