name: Unit

on: [push, pull_request]

jobs:
  test_unit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Create .env file
      run: |
        cat > .env << EOF
        JWT_SECRET=iWjwGUtt-DUeNb_QU8Oypc4jUZJX_FQflzpDzQTF9vA=
        EOF
    - name: Unit tests
      run: |
        sudo chmod 666 /var/run/docker.sock
        python3 -m pip install --no-cache-dir -r requirements.txt
        python3 -m pytest tests/
